@media (min-width: 576px) {
    .w-sm-1{
        width:8.33%;
        padding: 0 var(--gutter-width);
    }
    
    .w-sm-2{
        width:16.66%;
        padding: 0 var(--gutter-width);
    }
    
    .w-sm-3{
        width:25%;
        padding: 0 var(--gutter-width);
    }
    
    .w-sm-4{
        width:33.33%;
        padding: 0 var(--gutter-width);
    }
    
    .w-sm-5{
        width:41.66%;
        padding: 0 var(--gutter-width);
    }
    
    .w-sm-6{
        width:50%;
        padding: 0 var(--gutter-width);
    }
    
    .w-sm-7{
        width:58.33%;
        padding: 0 var(--gutter-width);
    }
    
    .w-sm-8{
        width:66.66%;
        padding: 0 var(--gutter-width);
    }
    
    .w-sm-9{
        width:75%;
        padding: 0 var(--gutter-width);
    }
    
    .w-sm-10{
        width:83.33%;
        padding: 0 var(--gutter-width);
    }
    
    .w-sm-11{
        width:91.66%;
        padding: 0 var(--gutter-width);
    }
    
    .w-sm-12{
        width:100%;
        padding: 0 var(--gutter-width);
    }
    .m-c p{
        margin-top: 16px;
        margin-bottom: 16px;
    }
    ww-sm-12{
        width:100%;}
        .linebtc span{
            display: block;
            margin-bottom: 30px;
        }
        .logo img{ 
            margin-right: 480px;}
    
}

@media (min-width: 768px) {
    .w-md-1{
        width:8.33%;
        padding: 0 var(--gutter-width);
    }
    
    .w-md-2{
        width:16.66%;
        padding: 0 var(--gutter-width);
    }
    
    .w-md-3{
        width:25%;
        padding: 0 var(--gutter-width);
    }
    
    .w-md-4{
        width:33.33%;
        padding: 0 var(--gutter-width);
    }
    
    .w-md-5{
        width:41.66%;
        padding: 0 var(--gutter-width);
    }
    
    .w-md-6{
        width:50%;
        padding: 0 var(--gutter-width);
    }
    
    .w-md-7{
        width:58.33%;
        padding: 0 var(--gutter-width);
    }
    
    .w-md-8{
        width:66.66%;
        padding: 0 var(--gutter-width);
    }
    
    .w-md-9{
        width:75%;
        padding: 0 var(--gutter-width);
    }
    
    .w-md-10{
        width:83.33%;
        padding: 0 var(--gutter-width);
    }
    
    .w-md-11{
        width:91.66%;
        padding: 0 var(--gutter-width);
    }
    
    .w-md-12{
        width:100%;
        padding: 0 var(--gutter-width);
    }
    
    .main-banner h1{
        font-size: 105px;
        
    }
    .main-bc{
        justify-content: center;
        align-items: center;
    }
    
    /* .i-content h3{
        font-size: 45px;
    } */
    .linebtc span{
        display: block;
       
    }
    

}

@media (min-width: 992px) {
    .w-lg-1{
        width:8.33%;
        padding: 0 var(--gutter-width);
    }
    
    
    .w-lg-2{
        width:16.66%;
        padding: 0 var(--gutter-width);
    }
    
    .w-lg-3{
        width:25%;
        padding: 0 var(--gutter-width);
    }
    
    .w-lg-4{
        width:33.33%;
        padding: 0 var(--gutter-width);
    }
    
    .w-lg-5{
        width:41.66%;
        padding: 0 var(--gutter-width);
    }
    
    .w-lg-6{
        width:50%;
        padding: 0 var(--gutter-width);
    }
    
    .w-lg-7{
        width:58.33%;
        padding: 0 var(--gutter-width);
    }
    
    .w-lg-8{
        width:66.66%;
        padding: 0 var(--gutter-width);
    }
    
    .w-lg-9{
        width:75%;
        padding: 0 var(--gutter-width);
    }
    
    .w-lg-10{
        width:83.33%;
        padding: 0 var(--gutter-width);
    }
    
    .w-lg-11{
        width:91.66%;
        padding: 0 var(--gutter-width);
    }
    
    .w-lg-12{
        width:100%;
        padding: 0 var(--gutter-width);
    }
    .ww-lg-6{
        width:50%;}
    .feture{ 
        display: flex;
    }
    .b-dsc p{
        padding: 0 360px ;
    }
    .card-text p{
        padding: 0 360px ;
    }
    .linebtc span{
        display: inline ;
       
    }
    .sub-footer{
        background-color: var(--lightgrey);
        height: 100px;
        padding-top: 33px ;
        
    }
    .tc{
        margin: 100px 200px 0 0;
        color: var(--white);
        font-family: var(--font2);
        font-weight: 300;
    }
    .navition{
        color: var(--white);
        font-size: 25px;
        font-family: var(--font);
        font-weight: 400;
        margin: 0 20px 0 0;
    }
    .navition:hover{
        color: var(--coffee);
    }
    .sub-footer svg{
        margin: 0 12px 0 0;
    }
    .ktc{
        margin: 0 460px 0 0;
    }
    
}

@media (min-width: 1200px) {
    .w-xl-1{
        width:8.33%;
        padding: 0 var(--gutter-width);
    }
    
    .w-xl-2{
        width:16.66%;
        padding: 0 var(--gutter-width);
    }
    
    .w-xl-3{
        width:25%;
        padding: 0 var(--gutter-width);
    }
    
    .w-xl-4{
        width:33.33%;
        padding: 0 var(--gutter-width);
    }
    
    .w-xl-5{
        width:41.66%;
        padding: 0 var(--gutter-width);
    }
    
    .w-xl-6{
        width:50%;
        padding: 0 var(--gutter-width);
    }
    
    .w-xl-7{
        width:58.33%;
        padding: 0 var(--gutter-width);
    }
    
    .w-xl-8{
        width:66.66%;
        padding: 0 var(--gutter-width);
    }
    
    .w-xl-9{
        width:75%;
        padding: 0 var(--gutter-width);
    }
    
    .w-xl-10{
        width:83.33%;
        padding: 0 var(--gutter-width);
    }
    
    .w-xl-11{
        width:91.66%;
        padding: 0 var(--gutter-width);
    }
    
    .w-xl-12{
        width:100%;
        padding: 0 var(--gutter-width);
}
.ww-xl-3{
    width:25%;}
    .linebtc a{
        margin: 0 50px;
    }
    
}

@media (min-width: 1400px) 
{
    .w-xxl-1{               
        width:8.33%;
        padding: 0 var(--gutter-width);
    }
    
    .w-xxl-2{
        width:16.66%;
        padding: 0 var(--gutter-width);
    }
    
    .w-xxl-3{
        width:25%;
        padding: 0 var(--gutter-width);
    }
    
    .w-xxl-4{
        width:33.33%;
        padding: 0 var(--gutter-width);
    }
    
    .w-xxl-5{
        width:41.66%;
        padding: 0 var(--gutter-width);
    }
    
    .w-xxl-6{
        width:50%;
        padding: 0 var(--gutter-width);
    }
    
    .w-xxl-7{
        width:58.33%;
        padding: 0 var(--gutter-width);
    }
    
    .w-xxl-8{
        width:66.66%;
        padding: 0 var(--gutter-width);
    }
    
    .w-xxl-9{
        width:75%;
        padding: 0 var(--gutter-width);
    }
    
    .w-xxl-10{
        width:83.33%;
        padding: 0 var(--gutter-width);
    }
    
    .w-xxl-11{
        width:91.66%;
        padding: 0 var(--gutter-width);
    }
    
    .w-xxl-12{
        width:100%;
        padding: 0 var(--gutter-width);}
        
}